<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg bg-light">
         <!-- ============ nav ============ -->
        <%- include ('./partials/nav.ejs') %>
        </nav>
        <header>
            <h1>EDIT</h1>
        </header>
        <!-- ============ JS CDN ============ -->
        <%- include ('./partials/cdn.ejs') %>
    </div>
  </body>
</html>