<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
      <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg bg-light">
            <!-- ============ nav ============ -->
           <%- include ('./partials/nav.ejs') %>
        </nav>
        <header>
            <h1>NEW</h1>
                <div class="btn-container">
                    <form class="" action="/">
                        <button type="submit" >BACK</button>
                    </form>
                </div>
        </header> <br><br>
        <div class="new">
            <form action="/" method="POST">
                <!-- basic info -->
                <div class="category">
                    <h3>Basic Information</h3>
                </div>
                <div class="inputs">
                    <div class="six columns">
                        <label for="exampleRecipientInput">Month:</label>
                            <select name="month" class="u-full-width" id="exampleRecipientInput">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select> <br>
                        Year: <input type="number" name="year">
                    </div>
                </div> <br>

                <!-- income -->
                <div class="category">
                    <h3>Income</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="income" placeholder="Salary/Wages/Tips">
                    <input type="number" name="commissions" placeholder="Commissions"><br>
                    <input type="number" name="bonus" placeholder="Bonus">
                    <input type="number" name="gifts" placeholder="Gifts"><br>
                    <input type="number" name="otherIncome" placeholder="Other Income"><br><br>
                </div>

                <!-- home expenses -->
                <div class="category">
                    <h3>Home Expenses</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="mortgage" placeholder="Mortgage"><br>
                    <input type="number" name="rent" placeholder="Rent"><br>
                    <input type="number" name="utilities" placeholder="Utilities"><br>
                    <input type="number" name="maintenance" placeholder="Maintenance"><br>
                    <input type="number" name="improvements" placeholder="Household Improvements"><br>
                    <input type="number" name="otherHome" placeholder="Other Home Expenses"><br><br>
                </div>

                <!-- living expenses -->
                <div class="category">
                    <h3>Living Expenses</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="groceries" placeholder="Groceries"><br>
                    <input type="number" name="laundry" placeholder="Laundry"><br>
                    <input type="number" name="medical" placeholder="Medical"><br>
                    <input type="number" name="otherLiving" placeholder="Other Living Expenses"><br><br>
                </div>

                <!-- personal expenses -->
                <div class="category">
                    <h3>Personal Expenses</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="dining" placeholder="Dining Out"><br>
                    <input type="number" name="salon" placeholder="Salon"><br>
                    <input type="number" name="clothing" placeholder="Clothing"><br>
                    <input type="number" name="events" placeholder="Events & Tickets"><br>
                    <input type="number" name="vacation" placeholder="Vacation"><br>
                    <input type="number" name="otherPersonal" placeholder="Other Personal Expenses"><br><br>
                </div>

                <!-- tech expenses -->
                <div class="category">
                    <h3>Tech Expenses</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="phone" placeholder="Phone"><br>
                    <input type="number" name="wifi" placeholder="Wifi"><br>
                    <input type="number" name="cable" placeholder="Cable"><br>
                    <input type="number" name="streaming" placeholder="Streaming"><br>
                    <input type="number" name="otherTech" placeholder="Other Tech Expenses"><br><br>
                </div>

                <!-- transportation expenses -->
                <div class="category">
                    <h3>Transportation Expenses</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="car" placeholder="Car"><br>
                    <input type="number" name="fuel" placeholder="Fuel"><br>
                    <input type="number" name="public" placeholder="Public Transportation"><br>
                    <input type="number" name="taxi" placeholder="Taxi, Uber, Lyft"><br>
                    <input type="number" name="otherTrans" placeholder="Other Transportation Expenses"><br><br>
                </div>

                <!-- health expenses -->
                <div class="category">
                    <h3>Health Expenses</h3>
                </div>
                <div class="inputs">
                    <input type="number" name="insurance" placeholder="Insurance"><br>
                    <input type="number" name="pharmacy" placeholder="Pharmacy"><br>
                    <input type="number" name="gym" placeholder="Gym or Health Club Dues"><br>
                    <input type="number" name="otherHealth" placeholder="Other Health Expenses"><br><br>
                </div>

                <!-- submit new info -->
                <input type="submit" value="ADD MONTH">

            </form>
        </div>

        <!-- ============ JS CDN ============ -->
        <%- include ('./partials/cdn.ejs') %>
    </div>
  </body>
</html>