<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
    <header>
        <h1>NEW</h1>
            <!-- <p>don't budge on your savings</p><br> -->
            <div class="btn-container">
                <form class="" action="/">
                    <button type="submit" >BACK</button>
                </form>
            </div>
    </header>
  </body>
</html>