<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
    <header>
        <h1>SHOW</h1>
            <div class="btn-container">
                <form class="" action="/">
                    <button type="submit" >BACK</button>
                </form>
            </div>
    </header> <br><br>
  </body>
</html>